.narrText {
	border-color: silver gray gray silver;
}

.highlight {
	background-color: #FFFCAB;
}

.disabled {
	background-color: #FFE4AB;
}

.striped {
	background-color: #c7d7e9;
}

/*
loggedin style changes the background to make sure users can tell they are logged in.

loggedout indicates the opposite.
*/
.loggedout {
	background-color: #C7D7E9;
	border-color: #087CD5 black black #087CD5;
}

.loggedin {
	background-color: #C7D7E9;
	border-color: #087CD5 #6CAADC #6CAADC #087CD5;
}

/*Login Form elements*/
div.login {
	background-color: #eee;
}

div.error {
	color: white;
	background-color: #C7D7E9;
	border-color: #087CD5 #6CAADC #6CAADC #087CD5;
}

div.error a {
	color: #FFFCAB;
}

div.error-text {
	color: #000;
	background-color: #FFA500;
	box-shadow-color: #F00;
}

div.login-title {
	color: black;
	background-color: white;
}

/*student search elements*/
div.result {
	background-color: white;
}

/*student list elements*/
div.entry, div.list {
	border-top-color: silver;
	border-right-color: silver;
	border-left-color: silver;
}

div.list {
	background-color: #e9e9e9;
}

a.link, input.link, a, .link {
	color: #0088cc;
	cursor: pointer;
}

a.link:hover, input.link:hover, a:hover, span.link:hover, label.link:hover
	{
	text-decoration: underline;
}

.button:hover, a:hover, link:hover {
	transition: all .25s ease;
}

a.link:visited {
	*color: purple;
}

input.link {
	background-color: transparent;
	border-width: 0px;
	padding: 0px;
}

/*form elements*/
.button, input[type="submit"] {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462),
		to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button.active {
	color: #efefef;
}

.button:hover, submit:hover {
	color: #ffffff;
	background-color: #51a351;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.button.help {
	border: none;
	background-color: transparent;
	color: transparent;
	background-image: url(images/help.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: inline-block;
	padding: 0 15px;
	height: 24px;
	vertical-align: top;
}

.button.help:hover {
	background-position: 0;
}

a.button {
	color: #fff;
}

.button.edit {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button.edit:hover {
	color: #ffffff;
	background-color: #0044cc;
}

.unread {
	background-color: white;
	color: red;
}

.button.new {
	color: #000;
	text-shadow: none;
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450),
		to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button.new:hover {
	color: #ffffff;
	background-color: #f89406;
}

/* #DB5F3A */
/* #C9192D */
.button.delete, .button.absent {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b),
		to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button.delete:hover {
	background-color: #bd362f;
}

.button.print, .button.export {
	background-color: #CF46CC;
	background: -moz-linear-gradient(top, #CF46CC 0, #8C2D8B 100%);
	background: linear-gradient(top, #CF46CC 0, #8C2D8B 100%);
	background: -webkit-linear-gradient(top, #CF46CC 0, #8C2D8B 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CF46CC),
		color-stop(100%, #8C2D8B));
	background: -o-linear-gradient(top, #CF46CC 0, #8C2D8B 100%);
	background: -ms-linear-gradient(top, #CF46CC 0, #8C2D8B 100%);
}

.button .tardy {
	color: #000;
	background-color: #F8DA06;
		background-image: -moz-linear-gradient(top, #F8DA06, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8DA06),
		to(#f89406));
	background-image: -webkit-linear-gradient(top, #F8DA06, #f89406);
	background-image: -o-linear-gradient(top, #F8DA06, #f89406);
	background-image: linear-gradient(to bottom, #F8DA06, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.link.delete {
	color: #da4f49;
}
/* #CAD6E9 */
/* #C3D0E2 */
/* header page layout elements */
#navigation {
	border: none;
}

#navigation input[type="text"] {
	border-color: #aaa;
}

#stuSearch {
	color: #666;
}

#navigation li {
	color: black;
}

#navigation li a a {
	color: white;
}

/* end header page layout elements */ /*main div layout elements */
#content {
	background-color: transparent;
}

#sidebar, #search_list {
	border-color: #087CD5;
}

#sidebar h3 {
	*color: white;
	*background-color: black;
}

#sidebar ol {
	background-color: white;
	border-color: black;
}

/* end div layout elements */
#advancedSearch {
	border: 1px solid #eee;
	border-radius: 3px;
	box-shadow: 2px 2px 4px #aaa;
	padding: 5px;
	background-color: #f1f1f1;
}

#advancedSearch h2, #advancedSearch h5, #advancedSearch h6 {
	text-align: center;
	color: black;
	box-shadow: none;
}

h2, h3, .support-view legend, h4, h5, h6, tr.benchmark-grade {
	border: none;
	/*box-shadow: 3px 3px 5px #999;*/
}

.invert {
	background-color: blue;
	color: white;
}

.notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.message {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.warning {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.log {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

/*attendance values*/
ol.attendance {
	padding: 0;
	margin: 0;
	display: inline;
}

li.attendance {
	border-left-color: black;
	color: black
}

/*column boxes (see attendance_list.inc.html)*/
.quartercolumn {
	border-bottom-color: black;
}

/* Editor for Student Info page */
#editor {
	background-color: silver;
}

#searchForm fieldset {
	border-color: #eee;
}

#search_list {
	background-color: white;
}

.highlight-text {
	color: #f00;
}

.highlight-text a {
	color: #f00;
}

tr.benchmark-grade {
	
}

tr.benchmark-subject {
	
}

tr.benchmark-category {
	
}

tr.benchmark-term {
	
}

tr.benchmark-row td.benchmark-text:hover {
	background-color: #fcfcaa;
}

table.list tr:hover {
	background-color: #cdcdcd;
}

table.grade-chart tr:hover {
	background-color: #efefef;
}

.grade-points.edit:hover, .assignment-edit:hover, td.student-name:hover
	{
	cursor: pointer;
	background-color: #dfdfdf;
}

fieldset {
	border-top-color: #C7D7E9;
	border-left-color: #C7D7E9;
}