@CHARSET "UTF-8";
/* Experimental */

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
	display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

tr {
	border: 1px solid #ccc;
}

td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
}

td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
}