.settings
/application/user_sessions/*
/application/logs
/application/cache
/application/config/database.php
/application/config/email.php
*/.DS_Store
.DS_Store
*.sql
!schema/*.sql
uploads/*
php_errors.log
*.old
/uploads/*
/user_guide
user_guide/*
.project
/.project
/.buildpath
/.idea

/uploads/
/js/ckeditor/node_modules/
/sites/
