/uploads
.settings
/application/logs
/application/cache
*.sql
/application/config/email.php
/application/config/database.php
*/.DS_Store
.DS_Store
uploads
php_errors.log
*.old
/uploads/*
/user_guide
user_guide/*
